<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        <div>{{ messages[0] }}</div>
    {% endwith %}

    <h1>Dataset Details</h1>
    <div>Dataset name           {{info[0]["Name"]}}</div>
    <div>Seller name            {{info[0]["Owner"]}}</div>
    <div>Field                  {{info[0]["Field"]}}</div>
    <div>Size                   {{info[0]["Size"]}}</div>
    <div>Base price             {{info[0]["BasePrice"]}}</div>
    <div>Dataset No.            {{info[0]["DID"]}}</div>
    <div>Create date            {{info[0]["CreateDate"]}}</div>
    <div>Keyword                {%for i in keyword%}{{i}}{%endfor%}</div>
    <div>Sale number            {{info[0]["SaleNum"]}}</div>

    <h2>Sample data</h2>
    <table border="1">
            <tr>
                {%for key in data[0].keys()%}
                    <th> {{key}}  </th>
                {%endfor%}
            </tr>
            {%for i in range(3)%}
            <tr>
                {%for key in data[0].keys()%}
                    <td>{{data[i][key]}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
    </table>
    {%if Role == "Buyer"%}

    <h2>Check price</h2>
    <form action="/detail/{{DID}}/" method="POST">
        <div>
            SQL query:<input type="text" name="SQL query" >
            <input type="submit" value = "Check price" name="checkprice"> 
        </div>
    

    <div>
        Query price:{{price}}
        <input type="submit" value = "Take order" name="takeorder"> 
    </div>
    </form>
    {%endif%}
    
        
    
</body>
</html>