<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dataset Details</title>
    <link href="plugins/bootstrap-3.4.1/css/bootstrap.css" rel="stylesheet">
    <style>

        .account{
            width: 1250px;
            border: 1px solid #dddddd;
            height: 800px;

            margin-left: auto;
            margin-right: auto;
            margin-top: auto;

        }
        .account h1{
            text-align: center;
        }
        .inner{
            width: 400px;
            //border: 1px solid #dddddd;
            height: 50px;
            float:left;

            padding: 10px;
        }
        .B-color{color:blue;}

    </style>
</head>
<body>
<div class="account">
    <h1>Dataset Details</h1>
    <div class="inner"></div><div class="inner"></div><div class="inner"></div>
    <div class="inner" >
        <div>Dataset name</div>
    </div>
    <div class="inner">
        <div class="B-color">changed name</div>
    </div>
    <div class="inner">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="New name">
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>

    <div class="inner" >
        <div>Seller name</div>
    </div>
    <div class="inner">
        <div class="B-color">new test</div>
    </div>
    <div class="inner">

    </div>

    <div class="inner" >
        <div>Field</div>
    </div>
    <div class="inner">
        <div class="B-color">changed field</div>
    </div>
    <div class="inner">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="New Field">
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>

    <div class="inner" >
        <div>Size</div>
    </div>
    <div class="inner">
        <div class="B-color">222</div>
    </div>
    <div class="inner">

    </div>

    <div class="inner" >
        <div>Base price</div>
    </div>
    <div class="inner">
        <div class="B-color">1300</div>
    </div>
    <div class="inner">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="New base price">
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>

    <div class="inner" >
        <div>Dataset No.</div>
    </div>
    <div class="inner">
        <div class="B-color">2</div>
    </div>
    <div class="inner">

    </div>

    <div class="inner" >
        <div>Create date</div>
    </div>
    <div class="inner">
        <div class="B-color">2022-06-21</div>
    </div>
    <div class="inner">

    </div>

    <div class="inner" >
        <div>Keyword</div>
    </div>
    <div class="inner">
        <div class="B-color">Doctor Strange</div>
    </div>
    <div class="inner">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="New keywords">
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>

    <div class="inner" >
        <div>Sale number</div>
    </div>
    <div class="inner">
        <div class="B-color">1</div>
    </div>
    <div class="inner">

    </div>

    <div class="inner" >
        <div>State</div>
    </div>
    <div class="inner">
        <div class="B-color">On sale</div>
    </div>
    <div class="inner">
        <form class="form-inline">

            <button type="submit" class="btn btn-primary">Sell/Unsell</button>
        </form>
    </div>

    <div class="inner" >
        <div>Price strategy</div>
    </div>
    <div class="inner">
        <div class="B-color">UCA</div>
    </div>
    <div class="inner">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="New strategy">
            </div>
            <input type="submit" class="btn btn-primary">Change</input>
        </form>
    </div>

</div>
</body>
</html>