<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method = "post" action="/register">
        <div>
            Name: <input type="text" name="Name"> 
        </div>
        <div>
            Password: <input type="password" name= "Password">
        </div>
        <div>
        Type:
            <input type="radio" name="Role" value = "Seller"> Seller
            <input type="radio" name="Role" value = "Buyer" > Buyer
        </div>
        
        <input type="submit" value = "submit"> 
    </form>

</body>
</html>