<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload dataset</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        .account{
            width: 500px;
            border: 1px solid #dddddd;
            height: 600px;


            margin-left: auto;
            margin-right: auto;
            margin-top: auto;

        }
        .account h1{
            text-align: center;
        }
        .inner{
            width: 500px;
            //border: 1px solid #dddddd;
            height: 60px;
            float:left;
            margin-right: 50px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="c1">Upload dataset</div>
    {% with messages = get_flashed_messages() %}
        <div>{{ messages[0] }}</div>
    {% endwith %}
    <form method = "post" action="/upload" enctype="multipart/form-data">
        <div>
            Dataset name<input type="text" name="name"/>
        </div>
        <div>
            Field<input type="text" name="field">
        </div>
        <div>
            Base price<input type="text" name="base price">
        </div>
        <div>
            Keyword<input type="text" name="keyword"> (please use semicolumn to split keywords)
        </div>
        <div>
            Price strategy<input type="text" name="new strategy">
        </div>
        <div>
            <input type="file" name="filename" >
            <div>
		    <input type="submit" value="Upload" >
			<input type="reset" value="reset" >
            </div>
        </div>
    </form>
</body>
</html>