<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        .account{
            width: 400px;
            border: 1px solid #dddddd;
            height: 350px;

            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            padding: 20px 40px;
        }
        .account h1{
            text-align: center;
        }



    </style>
</head>
<body>
<div class="account">
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
    <div style = "color: red">{{ messages[0] }}</div>
    {% endwith %}
    <form action="{{ url_for('login') }}" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" name = "Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name = "Password">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
    <a href="/register" >Click here to register</a>
</div>
</body>
</html>