<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload dataset</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        .account{
            width: 500px;
            border: 1px solid #dddddd;
            height: 600px;


            margin-left: auto;
            margin-right: auto;
            margin-top: auto;

        }
        .account h1{
            text-align: center;
        }
        .inner{
            width: 500px;
            //border: 1px solid #dddddd;
            height: 60px;
            float:left;
            margin-right: 50px;
            padding: 20px;
        }




    </style>
</head>
<body>
<div class="account">
    <h1>Upload dataset</h1>
    <form class="form-inline" method="post" action="/upload" enctype="multipart/form-data">
        <div class="inner">
            <div class="form-group">
                <label>Dataset name</label>
                <input type="text" class="form-control" placeholder="Name" name="name">
            </div>
        </div>
        <div class="inner">
            <div class="form-group">
                <label>Field</label>
                <input type="text" class="form-control" placeholder="field" name="field">
            </div>
        </div>
        <div class="inner">
            <div class="form-group">
                <label>Base price</label>
                <input type="text" class="form-control" placeholder="base price" name="base price">
            </div>
        </div>
        <div class="inner">
            <div class="form-group">
                <label>Keyword</label>
                <input type="text" class="form-control" placeholder="keyword" name="keyword">
                <p class="help-block">(please use semicolumn to split keywords)</p>
            </div>
        </div>
        <div class="inner">
            <div class="form-group">
                <label for="filename">File input</label>
                <input type="file" name="filename">

            </div>
        </div>
        <div class="inner">
            <button type="submit" class="btn btn-primary" value="submit" name="submit">Submit</button>
        </div>
        <div class="inner">
            {% with messages = get_flashed_messages() %}
            <div style = "color: red">{{ messages[0] }}</div>
            {% endwith %}
        </div>


    </form>
    <div class="inner">
        <a href="/" >Return</a>
    </div>
</div>

</body>
</html>